@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1731px;
  width: 100%;
  font-weight: normal;
}

a{
  text-decoration: none;
  background: none;
}

a:hover{
  background: none;
  background-color: white !important;
  font-weight: 700;
}

.topicos{
  /* flex flex-col gap-4 w-[50%] text-justify */
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 50%;
  text-align: justify;
}
.conteudo{
  /* p-[25px] flex justify-center gap-12 w-[100vh] h-auto */
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  width: 100vh;
  height: auto;
  padding: 25px;
  margin-top: 40px;
}

.tecnologias{
  padding: 20px;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 40px;
}

.projetos{
  padding: 20px;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 40px;
}

.cardProjeto{
  height: 110%;
}

.aboutme{
  font-size: 20px;
}

.nome{
  font-weight: 700;
  font-size: 25px;
}

.descricao{
  margin-left: 5px;
}

.language{
  /* flex flex-row justify-end gap-4 bg-red-100 */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
}

.contatos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  width: 40%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media screen and (max-width: 768px) {
  .topicos{
    width: 80%;
  }
  
  .conteudo{
    flex-direction: column;
    align-items: center;
  }

  .tecnologias{
    grid-template-columns: repeat(1, 1fr);
  }

  .projetos{
    grid-template-columns: repeat(1, 1fr);
  }

  .cardProjeto{
    width: 100%;
  }

  .aboutme{
    text-align: center;
  }

  .nome{
    text-align: center;
  }

  .language{
    justify-content: center;
  }
}
